<a href="https://colab.research.google.com/github/mekazanc/DataProcessing/blob/main/PandasTricks1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Manipulation with Pandas Series - I

#### In this tutorial, I added some basic pandas data manipulation steps of a tabular data. Note that I received some parts from the Coray Schafer's youtube channel. You can look at it to gain more insights about pandas.

Load data by wget command from the dropbox. Note that you can create a link for a file in the Dropbox to receive such a file.

In [1]:
!wget -O train.csv https://www.dropbox.com/s/va9i1tfmsuvkx4r/train.csv?dl=0

--2020-10-20 08:59:46--  https://www.dropbox.com/s/va9i1tfmsuvkx4r/train.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.1, 2620:100:6016:1::a27d:101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/va9i1tfmsuvkx4r/train.csv [following]
--2020-10-20 08:59:47--  https://www.dropbox.com/s/raw/va9i1tfmsuvkx4r/train.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc829d882155c4198024f6d3b428.dl.dropboxusercontent.com/cd/0/inline/BBnSsp_gwK-QQefMba6tATDSW3K2Mn2dAcD8LwCyWgvoboyAVvNslXw5H9M8vnWcqEt5o6naLSq6UNnUMk9tuP1gQxPJrQpNloUKT3aLOz481kU9Mgyk0E7UUT_NADAI-Ug/file# [following]
--2020-10-20 08:59:47--  https://uc829d882155c4198024f6d3b428.dl.dropboxusercontent.com/cd/0/inline/BBnSsp_gwK-QQefMba6tATDSW3K2Mn2dAcD8LwCyWgvoboyAVvNslXw5H9M8vnWcqEt5o6naLSq6UNnUMk9tuP1gQxPJrQpNloUKT3aLOz481kU9Mgyk0E7UUT_NADAI-Ug/file
Resolving uc829d882155c4198024f6d3b428.dl.dropboxusercontent.com (uc829d882155c4198024f6d3b428.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uc829d882155c4198024f6d3b428.dl.dropboxusercontent.com (uc829d882155c4198024f6d3b428.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 460676 (450K) [text/plain]
Saving to: ‘train.csv’

train.csv           100%[===================>] 449.88K  --.-KB/s    in 0.09s

2020-10-20 08:59:47 (4.93 MB/s) - ‘train.csv’ saved [460676/460676]

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
color = sns.color_palette()
sns.set_style('ticks')
import numpy as np
from scipy import stats
from scipy.stats import norm, skew #for some statistics

Load Data

In [3]:
train = pd.read_csv("train.csv")
train.head(5)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

Shape of the Data

In [4]:
#check the numbers of samples and features
print("The train data size is : {} ".format(train.shape))

The train data size is : (1460, 81)

Access Specific Rows and Columns

In [5]:
# to access the first row : iloc[0] can be used
train.iloc[0] 

# to access the first and the second row : iloc[[0,1]] can be used
train.iloc[[0,1]]

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500

[2 rows x 81 columns]

In [6]:
# to access the first and the second row with second and third column : iloc[[0,1], [1,2]] can be used
train.iloc[[0,1], [1,2]]

   MSSubClass MSZoning
0          60       RL
1          20       RL

In [7]:
# to access the first and the second row with MSSubClass and LotFrontage columns
train.loc[[0,1], ['MSSubClass','LotFrontage']]

   MSSubClass  LotFrontage
0          60         65.0
1          20         80.0

In [8]:
# to access the first row and the first column 
train.loc[0, 'MSSubClass']

60

In [9]:
# alternatively, you can use slicing like that 
train.loc[0:2, 'MSSubClass']

0    60
1    20
2    60
Name: MSSubClass, dtype: int64

In [10]:
# alternatively, you can use slicing like that 
train.loc[0:2, 'MSSubClass':'Utilities']

   MSSubClass MSZoning  LotFrontage  ...  LotShape LandContour Utilities
0          60       RL         65.0  ...       Reg         Lvl    AllPub
1          20       RL         80.0  ...       Reg         Lvl    AllPub
2          60       RL         68.0  ...       IR1         Lvl    AllPub

[3 rows x 9 columns]

  Index Update Operations

In [11]:
# to change index column, you can use below command. 
train.set_index('MSZoning', inplace=True)

# to reset index column you can use the following command
train.reset_index(inplace=True)

#to sort based on index
train.sort_index(ascending=True,inplace = True)

In [12]:
train.head(5)

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
0       RL   1          60  ...        WD         Normal    208500
1       RL   2          20  ...        WD         Normal    181500
2       RL   3          60  ...        WD         Normal    223500
3       RL   4          70  ...        WD        Abnorml    140000
4       RL   5          60  ...        WD         Normal    250000

[5 rows x 81 columns]

Filter Dataframe

In [13]:
# filter dataframe based on column condition
filtered = (train['LotShape'] == 'IR1')
filtered

0       False
1       False
2        True
3        True
4        True
        ...
1455    False
1456    False
1457    False
1458    False
1459    False
Name: LotShape, Length: 1460, dtype: bool

In [14]:
# display filtered dataframe 
train[filtered].head()

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
2       RL   3          60  ...        WD         Normal    223500
3       RL   4          70  ...        WD        Abnorml    140000
4       RL   5          60  ...        WD         Normal    250000
5       RL   6          50  ...        WD         Normal    143000
7       RL   8          60  ...        WD         Normal    200000

[5 rows x 81 columns]

In [15]:
# display filtered dataframe with selected columns
train.loc[filtered, ['OverallQual','OverallCond']].head()

   OverallQual  OverallCond
2            7            5
3            7            5
4            8            5
5            5            5
7            7            6

In [16]:
# filter dataframe based on multiple column conditions
filtered2 = (train['LotShape'] == 'IR1') & (train['Neighborhood'] == 'Mitchel') # Note that you can replace AND(&) operator with OR(|) operator. 
train[filtered2].head()

    MSZoning   Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
5         RL    6          50  ...        WD         Normal    143000
46        RL   47          50  ...        WD        Abnorml    239686
186       RL  187          80  ...        WD         Normal    173000
276       RL  277          20  ...        WD         Normal    201000
295       RL  296          80  ...        WD         Normal    142500

[5 rows x 81 columns]

In [17]:
#If you want to filter opposite conditions, you can use a "tilde" sign to create converse operation.  
train[~filtered2].head()

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
0       RL   1          60  ...        WD         Normal    208500
1       RL   2          20  ...        WD         Normal    181500
2       RL   3          60  ...        WD         Normal    223500
3       RL   4          70  ...        WD        Abnorml    140000
4       RL   5          60  ...        WD         Normal    250000

[5 rows x 81 columns]

In [18]:
# filter dataframe based on s vbolumn conditions
highQual = (train['OverallQual'] > 6)  # Note that you can replace AND(&) operator with OR(|) operator. 
train[highQual].head()

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
0       RL   1          60  ...        WD         Normal    208500
2       RL   3          60  ...        WD         Normal    223500
3       RL   4          70  ...        WD        Abnorml    140000
4       RL   5          60  ...        WD         Normal    250000
6       RL   7          20  ...        WD         Normal    307000

[5 rows x 81 columns]

In [19]:
train.loc[highQual, ['LotShape', 'LotConfig', 'Neighborhood', 'SaleCondition', 'OverallQual']]

     LotShape LotConfig Neighborhood SaleCondition  OverallQual
0         Reg    Inside      CollgCr        Normal            7
2         IR1    Inside      CollgCr        Normal            7
3         IR1    Corner      Crawfor       Abnorml            7
4         IR1       FR2      NoRidge        Normal            8
6         Reg    Inside      Somerst        Normal            8
...       ...       ...          ...           ...          ...
1444      Reg       FR2      CollgCr        Normal            7
1447      Reg    Inside      CollgCr        Normal            8
1451      Reg    Inside      Somerst       Partial            8
1454      Reg    Inside      Somerst        Normal            7
1457      Reg    Inside      Crawfor        Normal            7

[548 rows x 5 columns]

In [20]:
# Note that filtering is also possbile by using list of categories. 
listOfCategories = ['NAmes', 'CollgCr' , 'OldTown', 'Edwards', 'Somerst']

# This is an alternative filtering operation. 
filt3 = train['Neighborhood'].isin(listOfCategories)
train.loc[filt3, 'Neighborhood']

0       CollgCr
2       CollgCr
6       Somerst
8       OldTown
13      CollgCr
         ...
1451    Somerst
1452    Edwards
1454    Somerst
1458      NAmes
1459    Edwards
Name: Neighborhood, Length: 674, dtype: object

In [21]:
#The final way to filter a dataframe can be done with str.contains method. 
filt4 = train['LotConfig'].str.contains('Inside') #this will generate also return NA instances. To prevent it, add one more parameter na=False
filt4 = train['LotConfig'].str.contains('Inside', na = False)

train.loc[filt4].head()

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
0       RL   1          60  ...        WD         Normal    208500
2       RL   3          60  ...        WD         Normal    223500
5       RL   6          50  ...        WD         Normal    143000
6       RL   7          20  ...        WD         Normal    307000
8       RM   9          50  ...        WD        Abnorml    129900

[5 rows x 81 columns]

Changing Column Name

In [22]:
# Firstly, lets get the first 4 columns. 
train2 = train.iloc[1:10, 0:4]
train2.head()

  MSZoning  Id  MSSubClass  LotFrontage
1       RL   2          20         80.0
2       RL   3          60         68.0
3       RL   4          70         60.0
4       RL   5          60         84.0
5       RL   6          50         85.0

In [23]:
# Change the column name. 
train2.columns = ['MSZoningNew',	'IdNew',	'MSSubClassNew',	'LotFrontageNew']
train2.head()

  MSZoningNew  IdNew  MSSubClassNew  LotFrontageNew
1          RL      2             20            80.0
2          RL      3             60            68.0
3          RL      4             70            60.0
4          RL      5             60            84.0
5          RL      6             50            85.0

In [24]:
# Perform operation by using the for loop. 
train2.columns = [i.upper() for i in train2.columns ]
train2.head()

  MSZONINGNEW  IDNEW  MSSUBCLASSNEW  LOTFRONTAGENEW
1          RL      2             20            80.0
2          RL      3             60            68.0
3          RL      4             70            60.0
4          RL      5             60            84.0
5          RL      6             50            85.0

In [25]:
# It is possible to perform string operation here. 
train2.columns = train2.columns.str.replace(" ", "_") #this will not replace anything in our example. 
train2.columns = train2.columns.str.replace("NEW", "_") #this will replace "NEW" with "_" character.

In [26]:
#To rename columns, you can call rename method with dictionary format.
train2.rename(columns = {"MSZONING_": "MsZoning", "MSSUBCLASS_": "MsSubClass" , "LOTFRONTAGE_": "LotFrontage"}, inplace = True)
train2.head()

  MsZoning  ID_  MsSubClass  LotFrontage
1       RL    2          20         80.0
2       RL    3          60         68.0
3       RL    4          70         60.0
4       RL    5          60         84.0
5       RL    6          50         85.0

Updating Rows

In [27]:
# If you want to update all instances in the given row. 
train2.loc[1] = ['RR', 4, 40, 180.0]
train2.head()

  MsZoning  ID_  MsSubClass  LotFrontage
1       RR    4          40        180.0
2       RL    3          60         68.0
3       RL    4          70         60.0
4       RL    5          60         84.0
5       RL    6          50         85.0

In [28]:
# If you want to update some instances in the given row. 
train2.loc[1, ['MsZoning', 'LotFrontage']] = ['RRR', 0.0]
train2.head()

  MsZoning  ID_  MsSubClass  LotFrontage
1      RRR    4          40          0.0
2       RL    3          60         68.0
3       RL    4          70         60.0
4       RL    5          60         84.0
5       RL    6          50         85.0

In [29]:
#To make lowercase of the given column
train2['MsZoning'] = train2['MsZoning'].str.lower()
train2.head()

  MsZoning  ID_  MsSubClass  LotFrontage
1      rrr    4          40          0.0
2       rl    3          60         68.0
3       rl    4          70         60.0
4       rl    5          60         84.0
5       rl    6          50         85.0

Common Functions used in Pandas DataFrame

In [30]:
train.head(3)

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
0       RL   1          60  ...        WD         Normal    208500
1       RL   2          20  ...        WD         Normal    181500
2       RL   3          60  ...        WD         Normal    223500

[3 rows x 81 columns]

In [31]:
#this will return the length of the string in the given column.  
train['Neighborhood'].apply(len)

0       7
1       7
2       7
3       7
4       7
       ..
1455    7
1456    6
1457    7
1458    5
1459    7
Name: Neighborhood, Length: 1460, dtype: int64

In [32]:
# let's do it with a function. 
def makeUpper(data):
  return data.upper()

train['Street'] = train['Street'].apply(makeUpper)
train.head(3)

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
0       RL   1          60  ...        WD         Normal    208500
1       RL   2          20  ...        WD         Normal    181500
2       RL   3          60  ...        WD         Normal    223500

[3 rows x 81 columns]

In [33]:
# the same operation can be done by using lambda operator
#Note that this operation is applied to Series object. 
train['Street'] = train['Street'].apply(lambda x : x.lower())
train.head()

  MSZoning  Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
0       RL   1          60  ...        WD         Normal    208500
1       RL   2          20  ...        WD         Normal    181500
2       RL   3          60  ...        WD         Normal    223500
3       RL   4          70  ...        WD        Abnorml    140000
4       RL   5          60  ...        WD         Normal    250000

[5 rows x 81 columns]

In [34]:
train2.head()

  MsZoning  ID_  MsSubClass  LotFrontage
1      rrr    4          40          0.0
2       rl    3          60         68.0
3       rl    4          70         60.0
4       rl    5          60         84.0
5       rl    6          50         85.0

In [35]:
# Apply the same function to the entire dataframe so that you can receive 
train2.apply(lambda x : x.sum())

MsZoning       rrrrlrlrlrlrlrlrmrl
ID_                             56
MsSubClass                     600
LotFrontage                    473
dtype: object

In [36]:
# There is one more method, applymap that performs operation to each instance in the dataframe. 
train3 = train[['MSZoning', 'Street', 'Utilities', 'LotConfig', 'Neighborhood']]
train3.applymap(len).head()

   MSZoning  Street  Utilities  LotConfig  Neighborhood
0         2       4          6          6             7
1         2       4          6          3             7
2         2       4          6          6             7
3         2       4          6          6             7
4         2       4          6          3             7

In [37]:
# Apply the same algorithm here. 
train3.applymap(str.upper).head()

  MSZoning Street Utilities LotConfig Neighborhood
0       RL   PAVE    ALLPUB    INSIDE      COLLGCR
1       RL   PAVE    ALLPUB       FR2      VEENKER
2       RL   PAVE    ALLPUB    INSIDE      COLLGCR
3       RL   PAVE    ALLPUB    CORNER      CRAWFOR
4       RL   PAVE    ALLPUB       FR2      NORIDGE

In [38]:
# If you want to update specific column and specific instances. 
train3['MSZoningG'] = train3['MSZoning'].replace({'RL': 'RL_NEW', 'RR': 'RR_NEW'})
train3.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  MSZoning Street Utilities LotConfig Neighborhood MSZoningG
0       RL   pave    AllPub    Inside      CollgCr    RL_NEW
1       RL   pave    AllPub       FR2      Veenker    RL_NEW
2       RL   pave    AllPub    Inside      CollgCr    RL_NEW
3       RL   pave    AllPub    Corner      Crawfor    RL_NEW
4       RL   pave    AllPub       FR2      NoRidge    RL_NEW

In [39]:
#to update categories in the column, you can use the following options. I used "map" here but it did not work. 
train3['Neighborhood'].replace({'CollgCr' : True, 'Crawfor' : False})

0          True
1       Veenker
2          True
3         False
4       NoRidge
         ...
1455    Gilbert
1456     NWAmes
1457      False
1458      NAmes
1459    Edwards
Name: Neighborhood, Length: 1460, dtype: object

Adding New Column

In [40]:
train3.head(3)

  MSZoning Street Utilities LotConfig Neighborhood MSZoningG
0       RL   pave    AllPub    Inside      CollgCr    RL_NEW
1       RL   pave    AllPub       FR2      Veenker    RL_NEW
2       RL   pave    AllPub    Inside      CollgCr    RL_NEW

In [41]:
#if you want to merge columns 
train3['New Column'] = train3['MSZoning'] + ' ' + train3['LotConfig']
train3.head(3)
# if you want to drop a column 
#train3.drop(columns = ['New Column'], inplace = True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  MSZoning Street Utilities LotConfig Neighborhood MSZoningG New Column
0       RL   pave    AllPub    Inside      CollgCr    RL_NEW  RL Inside
1       RL   pave    AllPub       FR2      Veenker    RL_NEW     RL FR2
2       RL   pave    AllPub    Inside      CollgCr    RL_NEW  RL Inside

In [42]:
train3['New Column'].str.split(' ', expand =True)
# If you want to assign split result as new columns ; 
train3[['col1', 'col2', 'col3']]  =  train3['New Column'].str.split(' ', expand =True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Adding New Instance to the dataframe

In [43]:
train4 = train3.iloc[0:5, 0:4]
train4

  MSZoning Street Utilities LotConfig
0       RL   pave    AllPub    Inside
1       RL   pave    AllPub       FR2
2       RL   pave    AllPub    Inside
3       RL   pave    AllPub    Corner
4       RL   pave    AllPub       FR2

In [44]:
train4.append({'Street' : 'test'},ignore_index=True)

  MSZoning Street Utilities LotConfig
0       RL   pave    AllPub    Inside
1       RL   pave    AllPub       FR2
2       RL   pave    AllPub    Inside
3       RL   pave    AllPub    Corner
4       RL   pave    AllPub       FR2
5      NaN   test       NaN       NaN

In [45]:
people = {
    'first': ['Corey', 'Jane', 'John'], 
    'last': ['Schafer', 'Doe', 'Doe'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']
}

df1 = pd.DataFrame(people)
df1.head()

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [46]:
people = {
    'test' : ['A','B','X'],
    'first': ['Selim', 'Ahmet', 'Kemal'], 
    'last': ['Yılmaz', 'Öztürk', 'Rüzgar']
}

df2 = pd.DataFrame(people)
df2.head()

  test  first    last
0    A  Selim  Yılmaz
1    B  Ahmet  Öztürk
2    X  Kemal  Rüzgar

In [47]:
#append two dataframe 
df = df1.append(df2, ignore_index=True, sort = False)
# another way is concat
# pd.concat([df1,df2], ignore_index=True)
df

   first     last                    email test
0  Corey  Schafer  CoreyMSchafer@gmail.com  NaN
1   Jane      Doe        JaneDoe@email.com  NaN
2   John      Doe        JohnDoe@email.com  NaN
3  Selim   Yılmaz                      NaN    A
4  Ahmet   Öztürk                      NaN    B
5  Kemal   Rüzgar                      NaN    X

In [48]:
#simply dropping an instance 
df.drop(index = [4,5] )

   first     last                    email test
0  Corey  Schafer  CoreyMSchafer@gmail.com  NaN
1   Jane      Doe        JaneDoe@email.com  NaN
2   John      Doe        JohnDoe@email.com  NaN
3  Selim   Yılmaz                      NaN    A

In [49]:
#conditional dropping 
condition = df['last'] == 'Doe'
df.drop(index = df[condition].index).reset_index(drop=True) # drop=True will prevent

   first     last                    email test
0  Corey  Schafer  CoreyMSchafer@gmail.com  NaN
1  Selim   Yılmaz                      NaN    A
2  Ahmet   Öztürk                      NaN    B
3  Kemal   Rüzgar                      NaN    X

Sorting Columns

In [51]:
df.sort_values(by='first', ascending=False)

   first     last                    email test
3  Selim   Yılmaz                      NaN    A
5  Kemal   Rüzgar                      NaN    X
2   John      Doe        JohnDoe@email.com  NaN
1   Jane      Doe        JaneDoe@email.com  NaN
0  Corey  Schafer  CoreyMSchafer@gmail.com  NaN
4  Ahmet   Öztürk                      NaN    B

In [52]:
# Sorting with multiple columns. If there is a duplicated instances, sort them according to the second "by" parameter(column) . 
df.sort_values(by=['last', 'first'], ascending=False) #sort by last and if there are duplicated instances, sort them based on first.

   first     last                    email test
4  Ahmet   Öztürk                      NaN    B
3  Selim   Yılmaz                      NaN    A
0  Corey  Schafer  CoreyMSchafer@gmail.com  NaN
5  Kemal   Rüzgar                      NaN    X
2   John      Doe        JohnDoe@email.com  NaN
1   Jane      Doe        JaneDoe@email.com  NaN

In [53]:
# Sorting with multiple columns. 
df.sort_values(by=['last', 'first'], ascending=[False, True]) #sort columns with different asc,desc parameters.

   first     last                    email test
4  Ahmet   Öztürk                      NaN    B
3  Selim   Yılmaz                      NaN    A
0  Corey  Schafer  CoreyMSchafer@gmail.com  NaN
5  Kemal   Rüzgar                      NaN    X
1   Jane      Doe        JaneDoe@email.com  NaN
2   John      Doe        JohnDoe@email.com  NaN

In [54]:
#To come back to the original format which is index based sorting. 
df.sort_index()

   first     last                    email test
0  Corey  Schafer  CoreyMSchafer@gmail.com  NaN
1   Jane      Doe        JaneDoe@email.com  NaN
2   John      Doe        JohnDoe@email.com  NaN
3  Selim   Yılmaz                      NaN    A
4  Ahmet   Öztürk                      NaN    B
5  Kemal   Rüzgar                      NaN    X

Accessing the N largest instances

In [55]:
train['SalePrice'].nlargest(10)

691     755000
1182    745000
1169    625000
898     611657
803     582933
1046    556581
440     555000
769     538000
178     501837
798     485000
Name: SalePrice, dtype: int64

In [57]:
# show rows which has the highest 5 sale price. 
train.nlargest(5, 'SalePrice') #train.nsmallest(5, 'SalePrice')

     MSZoning    Id  MSSubClass  ...  SaleType  SaleCondition SalePrice
691        RL   692          60  ...        WD         Normal    755000
1182       RL  1183          60  ...        WD        Abnorml    745000
1169       RL  1170          60  ...        WD         Normal    625000
898        RL   899          20  ...       New        Partial    611657
803        RL   804          60  ...       New        Partial    582933

[5 rows x 81 columns]